.team-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Team {
  position: relative;
  padding: 0.7rem;
  max-width: 280px;
  min-width: 240px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0.5rem;
  border-radius: 1.4rem;
  transition: all 0.3s;
  box-shadow: 0 0 40px rgba(143, 143, 143, 0.2);
}

.Team:hover {
  transform: scale(1.02);
}

.Team a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.3s;
}

.Team img {
  /* filter: saturate(0.25); */
  border-radius: 0.8rem;
}

.Team span {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  background-color: rgba(var(--white-rgb), 0.3);
  padding: 0.3rem 0.5rem;
  font-size: 0.7rem;
  border-radius: 0.5rem;
}

.Team h3 {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.Team p {
  font-size: 0.9rem;
  margin-top: 0.3rem;
  opacity: 0.6;
}
