@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #1b1a1d;
  --white: #d6d2cf;
  --accent: #acacac;
  --active: #fd5982;
  --bg: #afafaf;
  --dark-rgb: 27, 26, 29;
  --white-rgb: 214, 210, 207;
  --accent-rgb: 255, 149, 126;
  --bg-rgb: 203, 144, 165;

  /* z-index */
  --z-canvas: 0;
  --z-default: 1;
  --z-fullscreen-menu: 2;
  --z-header: 3;
  --z-modal: 4;
  --z-info: 5;
}

html,
body,
#root {
  position: relative;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'satoshi';
  color: var(--white);
}

body {
  background-color: var(--dark);
}

.Scene {
  z-index: var(--z-canvas);
}

@font-face {
  font-family: 'stardom';
  src: url('./fonts/Stardom-Regular.ttf') format(truetype);
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: 'satoshi';
  src: url('./fonts/Satoshi-Variable.ttf') format(truetype);
  font-weight: 100 1000;
  font-size: normal;
}

h1 {
  font-family: 'stardom';
  font-size: 4.375rem;
  line-height: 5rem;
  text-shadow: 2px 2px 10px rgba(var(--dark-rgb), 0.7);
}

@media (max-width: 1280px) {
  h1 {
    font-size: 3.75rem;
    line-height: 3.75rem;
  }
}

@media (max-width: 786px) {
  h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}

h2 {
  font-family: 'stardom';
  font-size: 2.25rem;
  line-height: 2.5rem;
}

p {
  font-family: 'satoshi';
  font-size: 1.2rem;
}

@media (max-width: 640px) {
  p {
    font-size: 0.8rem;
  }
  h2 {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }
}
a {
  text-decoration: underline;
}

menu a {
  text-decoration: none;
}

a:hover,
a.active {
  color: var(--accent);
}

button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

a .SVG:hover svg,
a .SVG:hover svg path,
a .SVG:hover svg,
a:hover svg,
a:hover .CircleButton {
  fill: var(--accent);
}
img {
  display: inline-block;
  object-fit: cover;
}

figcaption {
  font-size: 0.75rem;
  font-style: italic;
}

.Header {
  z-index: var(--z-header);
}

footer {
  pointer-events: none;
}

footer.slide-in-bck-center {
  pointer-events: all;
}

hr {
  width: 40px;
  margin: 1rem 0;
}

@media (max-width: 420px) {
  .ScrollPageContainer {
    width: calc(100% - 2rem);
  }
}

.slide-in-bck-center {
  -webkit-animation: slide-in-bck-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bck-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-out-bck-center {
  -webkit-animation: slide-out-bck-center 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-bck-center 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/**
 * ----------------------------------------
 * animation slide-in-bck-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation slide-out-bck-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-bck-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-1100px);
    transform: translateZ(-1100px);
    opacity: 0;
  }
}
@keyframes slide-out-bck-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-1100px);
    transform: translateZ(-1100px);
    opacity: 0;
  }
}
